####################################
# Unreal Engine
####################################

# Compiled binaries
Binaries/
Plugins/**/Binaries/

# Build results
Build/*
!Build/**/
!Build/**/PakBlacklist*.txt
!Build/**/*.ico

# Derived data & cache
DerivedDataCache/

# Intermediate files
Intermediate/
Plugins/**/Intermediate/

# Saved data
Saved/
Saved/Logs/
Saved/Autosaves/
Saved/Crashes/

# Built map data (regenerated)
*_BuiltData.uasset


####################################
# Visual Studio / Rider / VS Code
####################################
.vs/
.vscode/
.idea/

*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb


####################################
# Compiled Objects & Libraries
####################################
*.o
*.obj
*.lo
*.slo
*.pch
*.gch

*.dll
*.so
*.dylib
*.lib
*.a


####################################
# Executables
####################################
*.exe
*.app
*.out
*.ipa


####################################
# OS / System junk
####################################
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini


####################################
# Crash & temp files
####################################
*.log
*.tmp
*.bak
*.swp


####################################
# Source Art (OPTIONAL)
# Uncomment ONLY if you do NOT want source textures in Git
####################################
# SourceArt/
# SourceArt/**/*.psd
# SourceArt/**/*.tga
# SourceArt/**/*.png


####################################
# Packaging / Archives
####################################
*.zip
*.7z
*.rar


####################################
# Unreal specific generated files
####################################
*.xcodeproj
*.xcworkspace
